/home/pedroleo/pedroshp/absorption/
/home/pedroleo/pedroshp/analyse_spectra/
/home/pedroleo/pedroshp/caesar/
/home/pedroleo/pedroshp/data/
/home/pedroleo/pedroshp/data-nojet/
/home/pedroleo/pedroshp/data-not-in-both-wind-models/
/home/pedroleo/pedroshp/ex-data/
/home/pedroleo/pedroshp/ex-samples/
/home/pedroleo/pedroshp/fitting_vp_profiles/
/home/pedroleo/pedroshp/make_spectra/
/home/pedroleo/pedroshp/pygad/
/home/pedroleo/pedroshp/pygadgetreader/
/home/pedroleo/pedroshp/samples/
/home/pedroleo/pedroshp/samples-nojet/
/home/pedroleo/pedroshp/sarah-cgm/
/home/pedroleo/pedroshp/match_halos.py
/home/pedroleo/pedroshp/test.pdf
/home/pedroleo/pedroshp/test.py

*.h5
